*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-family: montserrat;
    
}

@font-face{
    src: url(../fonts/Montserrat-Regular.ttf);
    font-family: montserrat-regular;
    
}

@font-face{
  src: url(../fonts/clarendon-lt-std-roman.otf);
  font-family: Clarendon;
}

.header-principal {
    display: flex;
    text-decoration: none;
    background-color: #D34444;
    text-align: right;
    
}

.header-principal a {
    font-family: montserrat-regular;
    text-decoration:none;
    color:white;
    display: inline-block;
    padding: 20px 10px;
    text-align: right;
}

.header-principal a:hover {
  color: #F4D8CD;
}

#nome:hover {
  color: #F4D8CD;
  transition: .5s ease;
}

body{
    background-color:  #D34444;
}

.minhafoto{
    position: absolute;
    display: block;
    left: 50%;
    width: 40%;
    top: 45%;
    transform: translate(-45%, -40%);
    animation: yourAnimation 1.2s  0s ease;
}

@keyframes yourAnimation{
  0%{
      transform: translate(-45%,0);
      opacity: 0;
      }
  100%{
      transform: translate(-45%,-40%);
      opacity: 1;
      }
}

h1 {
    font-family: montserrat;
    font-size: 1.6rem;
    color:white;
    margin-top: 0.1em;
}
.texto{
    position: absolute;
    display: block;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -65%);
    min-width: 200px;
    animation: yourAnimation2 1.2s  0s ease;
}

@keyframes yourAnimation2{
  0%{
      transform: translate(-50%,0%);
      opacity: 0;
      }
      20%{
        transform: translate(-50%,0%);
        opacity: 0;
        }

  100%{
      transform: translate(-50%,-65%);
      opacity: 1;
      }
}
 
/* trabalhos*/
.tudao {
  display: grid;
  grid-template-columns: 100%;
  }

                          /* Projeto 1 */

  .entreprojetos span {
    font-family: montserrat-regular;
    font-weight: bolder;
    color:#EAC9C9;
    font-size: 1em;
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 20px !important ;                      
}
                          
    .entreprojetos span a {
    font-size: 1.3em;
    color: #EAC9C9;
    margin-left: 0 !important;
    padding-left: 0 !important;
}
                          
.container {
    margin-top: 3%;
    width: 80%;
    position:relative;
}

  .container:hover .overlay {
    opacity: 0.7;
}
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F4D8CD;
  }
  
  .jazz {
    width: 100%;
  }
  
  .overlay h1 {
    display:border-box;
    position: relative;
    text-align:center;
    margin: 0 auto;
    top: 50%;
  }
  .modal {
    display:none;
    position:fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
  }
  .modal img {
    display:block;
    width: 100%;
    margin: 0 auto;
    
  }
  .modal-content{
    background-color: black;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 8px 0 rgba (0,0,0,0.3), 0 7px 25px 0 rgba(0,0,0,0.4);
    margin: 0 auto;
    overflow: auto;
   }

  .button {
    color: white;
    float: right;
    font-size: 33px;
    margin-right: 3%;
}
  
  .button:hover,.button:focus {
  color:#008CBA;
  text-decoration:none;
  cursor:pointer; 
  font-weight:bolder;
}
  
  .cabecalho, .cabecalho2 {
    position: sticky;
    top: 0;
    background-color: #D34444;
    background-size: cover;
    height: 40px;
}
.nomeprojeto{
    text-align: center;
    padding: 2.5%;
    color:white;
}

.entreprojetos {
      display: inline-block;
      text-align: left;
      margin-top: 2%;
      margin-left: 10%;
      margin-bottom: 2%;
}

  .descricao{
    width: 80%;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: white;
    margin-bottom: 8%;
}
  
/* Trabalho 2 */
.short{
  display: none;
}
.container2 {
  margin-top: 3%;
  width: 80%;
  position:relative;
}

.container2:hover .overlay {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F4D8CD;
}

.video1 {
  margin: 50% auto;
}

.overlay h1 {
  display:border-box;
  position: relative;
  text-align:center;
  margin: 0 auto;
  top: 50%;
}
.modal2 {
  display:none;
  position:fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5)
}
.modal2 img {
  display:block;
  width: 100%;
  margin: 0 auto;
  
}
.modal-content2{
  background-color: black;
  width: 100%;
  height: 100vh;
  box-shadow: 0 5px 8px 0 rgba (0,0,0,0.3), 0 7px 25px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  overflow: auto;
 }

.button {
  color: white;
  float: right;
  font-size: 33px;
  margin-right: 3%;
}

.button:hover,.button:focus {
color:rgb(186, 121, 0);
text-decoration:none;
cursor:pointer; 
font-weight:bolder;
}

.nomeprojeto{
  text-align: center;
  padding: 2.5%;
  color:white;
} 

.modal-content p {
  font-family: 'Lato', sans-serif;
    margin: 15px 15px;
    font-size: 1rem;
    color: #f4f4f4;
    
}

.modal-content img {
    margin-bottom: 10px;
    }

/* projeto 3 */

.container3 {
  margin-top: 3%;
  width: 80%;
  position:relative;
  }
.container3:hover .overlay {
  opacity: 0.7;
  }

.video1 {
  margin: 50% auto;
}

.modal3 {
  display:none;
  position:fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5)
}
.modal3 img {
  display:block;
  width: 100%;
  margin: 0 auto;
  
}
.modal-content3{
  background-color: black;
  width: 100%;
  height: 100vh;
  box-shadow: 0 5px 8px 0 rgba (0,0,0,0.3), 0 7px 25px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  overflow: auto;
}

 /* projeto 4 */
.container4 {
  margin-top: 3%;
  width: 80%;
  position:relative;
}

  .bg {
    height: 100%;
    width: 100%;
}

.hide {
  display: none;
}

#portraith {
  display: none;
}

#bskth {
  display: none;
}

#cjh {
  display: none;
}

.blink {
  animation: blink 2s ease-in infinite;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }

} 

  /* Sobre */
  .bodyConteudos{
    height: 100vh;
    max-width: 1200px;
    
  }

.cta {
  display: flex;
  background-color: white;
  width: 40%;
  padding: 15px 40px;
  color: #D34444;
  border: none;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.cta:hover {
  background-color: #2a6bda;
  color: white;
  transition: .3s ease;
}

.midias {
    font-family: 'Merriweather', serif;
    text-decoration:none;
    color:white;
    display: flex;
    padding: 10px 10px;
}

.midias a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.midias a:hover {
  color: #F4D8CD;
}

  .perfil {
    display: block;
    margin:0 auto;
    width: 66vw    
  }

.sobre {
    font-size: 1.5rem;
    color:white;
    padding: 2% 5%;
    font-family: 'Cousine', monospace;
    border: none;
    line-height: 150%
}

.sobre a {
    
    color: #F4D8CD; 
    margin: auto;   
    font-weight: bolder;
}

 .sobre a:hover {
    color:#2a6bda;
    transition: .3s ease;
  }

.topo {
width: 80%;
}

  .conteudos{
  display: inline;
  
  }
  
  footer{
    display: grid;
    justify-content: center;
    }
    
  footer img {
    width: 50px;
      height: 50px;
      margin: 1rem;
    }
  
  footer img:hover{
    opacity: 0.7;
    }


    @media only screen and (min-width: 250px) {
    
      .side_text {
        width: 80%;   
      }

      .side_text p {
        margin-top: 20px;
        font-size: 20px;
      }

      .cta {
        margin-top: 15px;
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
      }
    
    }

@media only screen and (min-width: 768px) {
  /* tablets */
  .tudao {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
 /* header */
  .header-principal a {
    font-size: 22px;
    padding: 30px 40px;
  }
  /* index */
  .minhafoto{
    position: absolute;
    display: block;
    left: 50%;
    width: 40%;
    top: 45%;
    transform: translate(-45%, -40%)
}

h1 {
    font-family: montserrat;
    font-size: 1.8rem;
    color: white;
}

#nome {
  font-size: 2.3rem;

}
.texto{
    position: absolute;
    display: block;
    left: 45%;
    top: 65%;
    transform: translate(-50%, -65%);
    min-width: 200px;
}

  /*sobre*/
  .sobre {
    font-size: 30px;
    padding: 0 10% 2% 10%;
    line-height: 1.5em;  
  }
  
  
  .side_text {
    width: 80%;   
  }


  .cta {
    margin-top: 15px;
    width: 80%;
    margin-bottom: 30px;
    margin-left: 61.4px;
    margin-right: 0;
    font-size: 20px;
  }

  .perfil {
  width: 500px;
  }
  
  }
  @media only screen and (min-width: 1024px) {
    /* header */
  .header-principal a {
    font-size: 28px;
    padding: 30px 40px;
  }
     
    .cabecalho, .cabecalho2{
    height: 60px;  
    }

    .descricao p {
      font-size: 25px;
    }



    .button{
      margin-top: 9px;
      font-size: 43px;
    }

    h1 {
      font-family: montserrat;
      font-size: 2.2rem;
      color: white;
  }

  #nome {
    font-size: 4rem;
  }


  .texto{
      position: absolute;
      display: block;
      left: 45%;
      top: 65%;
      transform: translate(-50%, -65%);
      min-width: 200px;
  }

  .descricao{
    font-size: 21px;
  }
   /*sobre*/
   .sobre {
    font-size: 40px;
    padding: 5% 10% 6% 10%;
    line-height: 1.5em;
  }
  
  .conteudos img {
    width: 80px;
      height: 80px;
      margin: 2rem;
  }
.midias {
  font-size: 33px;
  margin-top: 15px;
}
 
}

@media only screen and (min-width: 1200px) {

 /* index */
  .minhafoto{
    position: absolute;
    display: block;
    left: 50%;
    width: 17%;
    top: 45%;
    transform: translate(-45%, -40%)
}

h1 {
    font-family: montserrat;
    font-size: 2.3rem;
    color: white;
}

#nome {
  font-size: 3em;
}

.tudao {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1200px;
}


.texto{
    position: absolute;
    display: block;
    left: 45%;
    top: 65%;
    transform: translate(-40%, -36%);
    min-width: 200px;
    animation: yourAnimation4 1.2s  0s ease;
}

.modal img{
  width: 1200px;
  
}

.cabecalho, .cabecalho2 {
 width: 1200px;
}

@keyframes yourAnimation4{
  0%{
      transform: translate(-40%,0%);
      opacity: 0;
      }
      20%{
        transform: translate(-40%,0%);
        opacity: 0;
        }

  100%{
      transform: translate(-40%,-36%);
      opacity: 1;
      }
}
#portrait {
  display: none;
}
#portraith {
  display: flex;
}

#bskt {
  display: none;
}

#bskth {
  display: flex;
}

#cj {
  display: none;
}

#cjh {
display: flex;
}

/*sobre*/
.sobre {
  
  font-size: 25px;
  padding: 0 10% 6% 10%;
  line-height: 1.5em;

}

.sobre_conteudo {
margin-top: 40px;
}

.perfil {
  float: left;
  margin: 0;
  
}

.side_text {
  float: right ;
  width: 700px;
  height: 450px;
}

.conteudos img {
  width: 80px;
    height: 80px;
    margin: 2rem;
}

.midias {
  width: 600px;
}


}
