*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-family: montserrat;
    
}
@font-face{
    src: url(../fonts/Montserrat-Regular.ttf);
    font-family: montserrat-regular;
    
}
@font-face{
  src: url(../fonts/clarendon-lt-std-roman.otf);
  font-family: Clarendon;
  
}

.header-principal {
    display: flex;
    text-decoration: none;
    background-color: #D34444;
    -webkit-box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.14);
}

.header-principal a {
    font-family: montserrat-regular;
    text-decoration:none;
    color:white;
    display: inline-block;
    padding: 20px 20px;
    
    
}
body{
    background-color:  #D34444;
}

.minhafoto{
    position: absolute;
    display: block;
    left: 50%;
    width: 40%;
    top: 45%;
    transform: translate(-45%, -40%);
    animation: yourAnimation 1.2s  0s ease;
}

@keyframes yourAnimation{
  0%{
      transform: translate(-45%,0);
      opacity: 0;
      }
  100%{
      transform: translate(-45%,-40%);
      opacity: 1;
      }
}


h1 {
    font-family: montserrat;
    font-size: 1.6rem;
    color: white;
}
.texto{
    position: absolute;
    display: block;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -65%);
    min-width: 200px;
    animation: yourAnimation2 1.2s  0s ease;
}

@keyframes yourAnimation2{
  0%{
      transform: translate(-50%,0%);
      opacity: 0;
      }
      20%{
        transform: translate(-50%,0%);
        opacity: 0;
        }

  100%{
      transform: translate(-50%,-65%);
      opacity: 1;
      }
}
 



/* trabalhos*/

.tudao {
  display: grid;
  grid-template-columns: 100%;

}

.container {
    margin-top: 3%;
    width: 80%;
    position:relative;
  }
  .container:hover .overlay {
    opacity: 0.7;
    }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .jazz {
    width: 100%;
  }
  
  .overlay h1 {
    display:border-box;
    position: relative;
    text-align:center;
    margin: 0 auto;
    top: 50%;
  }
  .modal {
    display:none;
    position:fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
  }
  .modal img {
    display:block;
    width: 100%;
    margin: 0 auto;
    
  }
  .modal-content{
    background-color: black;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 8px 0 rgba (0,0,0,0.3), 0 7px 25px 0 rgba(0,0,0,0.4);
    margin: 0 auto;
    overflow: auto;
   }
  .button {
    color: white;
    float: right;
    font-size: 33px;
    margin-right: 3%;
    
    
  }
  
  .button:hover,.button:focus {
  color:#008CBA;
  text-decoration:none;
  cursor:pointer; 
  font-weight:bolder;
  }
  
  .cabecalho, .cabecalho2 {
    position: sticky;
    top: 0;
    background-color: #D34444;
    background-size: cover;
    height: 40px;
  }
.nomeprojeto{
    text-align: center;
    padding: 2.5%;
    color:white;
  }

.entreprojetos, .entreprojetos2 {
      text-align: left;
      margin-top: 2%;
      width: 80%;
      margin-bottom: 2%;
  }

  .descricao{
    width: 80%;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #f4f4f4;
    margin-bottom: 8%;
  }
  
/* Trabalho 2 */
.short{
  display: none;
}
.container2 {
  margin-top: 3%;
  width: 80%;
  position:relative;
}
.container2:hover .overlay {
  opacity: 0.7;
  }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.video1 {
  margin: 50% auto;
}

.overlay h1 {
  display:border-box;
  position: relative;
  text-align:center;
  margin: 0 auto;
  top: 50%;
}
.modal2 {
  display:none;
  position:fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5)
}
.modal2 img {
  display:block;
  width: 100%;
  margin: 0 auto;
  
}
.modal-content2{
  background-color: black;
  width: 100%;
  height: 100vh;
  box-shadow: 0 5px 8px 0 rgba (0,0,0,0.3), 0 7px 25px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  overflow: auto;
 }
.button {
  color: white;
  float: right;
  font-size: 33px;
  margin-right: 3%;
}

.button:hover,.button:focus {
color:#008CBA;
text-decoration:none;
cursor:pointer; 
font-weight:bolder;
}

.nomeprojeto{
  text-align: center;
  padding: 2.5%;
  color:white;
} 

.modal-content p {
  font-family: 'Lato', sans-serif;
    margin: 15px 15px;
    font-size: 1rem;
    color: #f4f4f4;
    
}

.modal-content img {
    margin-bottom: 10px;
    }
/* projeto 3 */
.container3 {
  margin-top: 3%;
  width: 80%;
  position:relative;
  }
.container3:hover .overlay {
  opacity: 0.7;
  }


.video1 {
  margin: 50% auto;
}

.modal3 {
  display:none;
  position:fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5)
}
.modal3 img {
  display:block;
  width: 100%;
  margin: 0 auto;
  
}
.modal-content3{
  background-color: black;
  width: 100%;
  height: 100vh;
  box-shadow: 0 5px 8px 0 rgba (0,0,0,0.3), 0 7px 25px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  overflow: auto;
 }

 /* projeto 4 */
.container4 {
  margin-top: 3%;
  width: 80%;
  position:relative;
}
.hide {
  display: none;
}

  /* Sobre */

.sobre {
    font-size: 1.3rem;
    color: white;
    padding: 10% 10%;
    font-family: 'Noto Sans', sans-serif;
}

.sobre a {
    text-decoration: none;
    color: white;    
}

 .sobre a:hover {
    background-color: yellow;
  }

  footer{
  display: grid;
  justify-content: center;
  }
  
footer img {
  width: 50px;
    height: 50px;
    margin: 1rem;
  }

footer img:hover{
  opacity: 0.7;
  }

@media only screen and (min-width: 768px) {
  /* tablets */
  .tudao {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
 /* header */
  .header-principal a {
    font-size: 22px;
    padding: 30px 40px;
  }
  /* index */
  .minhafoto{
    position: absolute;
    display: block;
    left: 50%;
    width: 40%;
    top: 45%;
    transform: translate(-45%, -40%)
}

h1 {
    font-family: montserrat;
    font-size: 2.3rem;
    color: white;
}
.texto{
    position: absolute;
    display: block;
    left: 45%;
    top: 65%;
    transform: translate(-50%, -65%);
    min-width: 200px;
}
/* trabalhos */



  /*sobre*/
  .sobre {
    font-size: 30px;
    padding: 5% 10% 2% 10%;
    line-height: 1.5em;  
  }
  
  footer img {
    width: 70px;
      height: 70px;
      margin: 2rem;
  }
  
  }
  @media only screen and (min-width: 1024px) {
    /* header */
  .header-principal a {
    font-size: 28px;
    padding: 30px 40px;
  }
     
    .cabecalho, .cabecalho2{
    height: 60px;  
    }

    .button{
      margin-top: 9px;
    font-size: 43px;
    }

    h1 {
      font-family: montserrat;
      font-size: 3.3rem;
      color: white;
  }

  .texto{
      position: absolute;
      display: block;
      left: 45%;
      top: 65%;
      transform: translate(-50%, -65%);
      min-width: 200px;
  }

  .descricao{
    font-size: 21px;
  }
   /*sobre*/
   .sobre {
    font-size: 40px;
    padding: 5% 10% 6% 10%;
    line-height: 1.5em;
  }
  
  footer img {
    width: 80px;
      height: 80px;
      margin: 2rem;
  }
  }
  @media only screen and (min-width: 1024px) {

 /*home*/
    h1 {
      font-family: montserrat;
      font-size: 4rem;
      color: white;
  }

  .texto{
      position: absolute;
      display: block;
      left: 42%;
      top: 69%;
      transform: translate(-50%, -65%);
      min-width: 200px;
  }
}
